<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951932867900-c56i70mnrg2d7as5004tg8c5obl3otvk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951932867900-c56i70mnrg2d7as5004tg8c5obl3otvk</string>
	<key>API_KEY</key>
	<string>AIzaSyBTWLg9KD_RAKEnX4YJ6X6u__Z6_BPhwyU</string>
	<key>GCM_SENDER_ID</key>
	<string>951932867900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryanvaswani.Doors</string>
	<key>PROJECT_ID</key>
	<string>doors-server-335023</string>
	<key>STORAGE_BUCKET</key>
	<string>doors-server-335023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951932867900:ios:b16bfdf1ba1514618dfa39</string>
</dict>
</plist>